.profile__edit-button {
  background-color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .1s ease-in-out;

}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 615px) {
  .profile__edit-button {
    background-size: 100%;
    position: absolute;
    top: 8px;
    right: -30px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: 7px;
  }
}
