.places__button-like {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart-like.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  opacity: 1;
  transition: opacity .2s ease-out .1s;
}

.places__button-like:hover {
  opacity: .5;
}

.places__like-counter {
  color: black;
  margin: 10px 0 0;
  text-align: center;
}

.places__like {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
