.profile__addbutton {
   background-image: url(../../../images/Add_Button.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   color: white;
   width: 150px;
   min-height: 50px;
   opacity: 1;
   transition: opacity .2s ease-out .1s;
}

.profile__addbutton:hover {
  opacity: .6;
}

@media screen and (max-width: 879px) {
  .profile__addbutton {
    width: 100px;
  }
}

@media screen and (max-width: 320px) {
  .profile__addbutton {
    background-image: url(../../../images/Add_Button_282px.svg);
    width: 282px;
  }
}
