.profile__info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 336px;
    border: 1px red solid;
    margin-right: 244px;
}